/**Part 0: General Rules*/
body {
	font-size: 1em;
	text-align: center;
	/**zoom out to fit all elements on the screen*/
	zoom: 0.63;
	-moz-transform: scale(0.63);
	-moz-transform-origin: 50% 0;
}

h1 {
	font-size: 3em;
	padding-bottom: 0;
	margin-bottom: 0;
}

/**Nice effect when selecting the player*/
img {
	cursor: pointer;
	opacity: 0.3;
}

img:hover {
	opacity: 1.0;
}

.invisible {
	display: none;
}

/** Part 1: sidenav Win*/
.sidenav {
	height: 100%;
	position: fixed;
	/**NOT ABSOLUTE: very important because of the main:Y-Scroll*/
	transform: translate(0, -10000px);
	transition: transform 0.2s ease;
	z-index: +1;
}

.sidenav.open {
	top: 0;
	padding-top: 0;
	max-width: 50%;
	left: 25%;
	right: 25%;
	margin: auto;
	background: linear-gradient(to bottom right, gray 30%, white 100%);
	color: white;
	transform: translate(0, 0);
	transition: transform 0.3s ease;
	font-size: 2em;
}

.big-font-sidenav {
	color: red;
}

.button-sidenav {
	background-color: white;
	color: black;
	cursor: pointer;
	border-radius: 20px;
	font-size: 2em;
}

.button-sidenav:hover {
	color: red;
}

/** Part 2: Joystick to smartphone/tablet*/
.grid-container {
	position: absolute;
	bottom: 0;
	padding-bottom: 0;
	height:30%;
	left: 50%;
	opacity: 1.0;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 12px;
	padding: 0;
	border-radius: 12px;
	max-width: 600px;
	justify-content: space-evenly;
	margin: auto;
	border: 0;
	background-color: transparent;
	color: black;
}

/**This line here is important because if you are using a
big tablet you will need to activate the joystic!*/
.grid-container.display {
	display: grid;
}

.material-icons:hover {
	cursor: pointer;
	background-color: blue;
}

.material-icons.icon-size {
	font-size: 138px;
}

/** Part 3: Responsive Design*/
@media screen and (min-width: 1025px) {
	html {
		overflow-y: hidden;
	}

	.grid-container {
		display: none;
	}
}

@media screen and (max-width: 1025px) {
	body {
		/**zoom out to fit all elements on the screen*/
		zoom: 0.61;
		-moz-transform: scale(0.63);
		-moz-transform-origin: 50% 0;
	}

	.joystick {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	body {
		font-size: 1em;
		text-align: center;
		/**zoom out to fit all elements on the screen*/
		zoom: 0.56;
		-moz-transform: scale(0.56);
		-moz-transform-origin: 50% 0;
	}
}

@media screen and (max-width: 500px) {
	body {
		font-size: 1em;
		text-align: center;
		/**zoom out to fit all elements on the screen*/
		zoom: 0.53;
		-moz-transform: scale(0.53);
		-moz-transform-origin: 50% 0;
	}

	.grid-container {
		bottom: 0;
	}
}

@media screen and (max-width: 400px) {
	body {
		font-size: 1em;
		text-align: center;
		/**zoom out to fit all elements on the screen*/
		zoom: 0.43;
		-moz-transform: scale(0.43);
		-moz-transform-origin: 50% 0;
	}
}

@media screen and (max-width: 380px) {
	body {
		font-size: 1em;
		text-align: center;
		/**zoom out to fit all elements on the screen*/
		zoom: 0.42;
		-moz-transform: scale(0.42);
		-moz-transform-origin: 50% 0;
	}

	.grid-container {
		bottom: 5.5%;
	}
}

@media screen and (max-width: 350px) {
	body {
		font-size: 1em;
		text-align: center;
		/**zoom out to fit all elements on the screen*/
		zoom: 0.40;
		-moz-transform: scale(0.40);
		-moz-transform-origin: 50% 0;
	}

	.grid-container {
		bottom: +10px;
	}
}
